@tailwind base;
@tailwind components;
@tailwind utilities;  

body {
    background-color: #F8F8FF;
}

/* Estilo para o container de loading */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.8); /* Fundo semi-transparente */
  z-index: 9999; /* Fica acima de todo o conteúdo */
}

/* Estilo para o spinner */
.spinner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  border-right: 8px solid #ff00;
  animation: loader .7s infinite linear;
  animation: spin 1.5s linear infinite;
}

/* Animação de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i {
    width: 30px;
    height: 30px;
}

header {
    background: rgb(0,0,0);
    background: linear-gradient(#46b83d, #111e0b);
}

h2 {
    font-family: "Freeman", sans-serif;
}

h1 {
    font-family: "Yatra One", system-ui;
}

.carousel-image.hidden {
  display: none;
}


.spanLoja {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #000000;
    width: "100%";
  }
  
  .navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Freeman", sans-serif;  
  }
  
  .links-navbar {
    margin: 0 16px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
  }
  
  .links-navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .links-navbar a:hover {
    color: #46b83d;
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.carousel-image.hidden {
    opacity: 0;
}

.menu {
  margin-top: 20px;
}

  