@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F8FF;
}

/* Estilo para o container de loading */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.8); /* Fundo semi-transparente */
  z-index: 9999; /* Fica acima de todo o conteúdo */
}

/* Estilo para o spinner */
.spinner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  border-right: 8px solid #ff00;
  animation: spin 1.5s linear infinite; /* Mantive apenas a animação de rotação */
}

/* Animação de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i {
    width: 30px;
    height: 30px;
}

header {
    background: rgb(0,0,0);
    background: linear-gradient(#46b83d, #111e0b);
}

h2 {
    font-family: "Freeman", sans-serif;
}

h1 {
    font-family: "Yatra One", system-ui;
}

.carousel-image.hidden {
  display: none;
}

.spanLoja {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #000000;
    width: 100%; /* Removi as aspas */
}
  
.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Freeman", sans-serif;  
}
  
.links-navbar {
    margin: 0 16px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}
  
.links-navbar a {
    color: #fff;
    text-decoration: none;
}
  
.links-navbar a:hover {
    color: #46b83d;
}

.menu {
  margin-top: 20px;
}

.image-container {
  position: relative; /* Posicionamento relativo para facilitar a troca de imagens */
  width: 350px; /* Defina uma largura fixa para todas as imagens */
  height: 350px; /* Defina uma altura fixa para manter o padrão visual */
  display: flex; 
  justify-content: center; /* Centraliza as imagens horizontalmente */
  align-items: center; /* Centraliza as imagens verticalmente */
  overflow: hidden; /* Oculta o excesso de imagem que ultrapassar o contêiner */
  margin-top: 20px;
}

.product-image {
  width: 100%; /* Ajuste para 100% do contêiner */
  height: 100%; /* Preenche toda a altura */
  object-fit: cover; /* Preenche o espaço mantendo proporções */
  position: absolute; /* Posicionamento absoluto para facilitar a alternância */
  transition: opacity 0.5s ease-in-out; /* Suaviza a transição entre as imagens */
  border-radius: 22px;
}

.hidden {
  opacity: 0; /* Define opacidade zero para esconder a imagem */
}

.front {
  opacity: 1; /* Imagem frontal visível por padrão */
}

.styled-popup {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.styled-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #2d3748;
}

.styled-content {
  font-family: 'Poppins', sans-serif;
  color: #4a5568;
}
